* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  width: 100%; }
  header .main_header_content {
    width: 80%;
    margin: 0 auto; }
  header .header_main_menu .main_logo {
    width: 30%; }
    header .header_main_menu .main_logo li {
      list-style: none;
      display: inline-block; }
      header .header_main_menu .main_logo li a {
        display: block; }
        header .header_main_menu .main_logo li a:hover {
          text-decoration: none; }
    header .header_main_menu .main_logo li:first-of-type {
      width: 66%; }
      header .header_main_menu .main_logo li:first-of-type img {
        width: 100%; }
  header .main_menu {
    width: 30%; }
    header .main_menu li {
      list-style: none;
      display: inline-block; }
      header .main_menu li a {
        color: black; }
        header .main_menu li a:hover {
          text-decoration: none; }
  header .main_logo, header .main_menu {
    display: inline-block; }
