*
  box-sizing: border-box
  margin: 0
  padding: 0
header
  width: 100%
  .main_header_content
    width: 80%
    margin: 0 auto
  .header_main_menu
    .main_logo
      width: 30%
      li
        list-style: none
        display: inline-block
        a
          display: block
          &:hover
            text-decoration: none
      li:first-of-type
        width: 66%
        img
          width: 100%
  .main_menu
    width: 30%
    li
      list-style: none
      display: inline-block
      a
        color: black
        &:hover
          text-decoration: none
  .main_logo,.main_menu
    display: inline-block
