/* line 1, ../style/main.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato","Helvetica Neuve",Helvetica,Arial,sans-serif;
  font-size: 15px; }

/* line 8, ../style/main.sass */
.item img {
  height: auto; }

/* line 10, ../style/main.sass */
.slider_container {
  margin: 0 auto; }
